<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tag Create</title>
  </head>
  <body>
    <h1>Create Tag</h1>
    <form action="/create-tag" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Enter a name for the Tag"
      />
      <br />
      <button type="submit">Add</button>
      <a href="/">Cancel</a>
    </form>
  </body>
</html>
